.is-complete {
  text-decoration: line-through;
  opacity: 0.3;
}
.is-complete-null {
  color: red;
}
.container {
  // display: flex;
  // justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart-custom {
  margin: 10px !important;
}
